html {
  height: 100vh;
  font-family: Baloo;
  letter-spacing: 2px;
}
body {
  margin: 10px;
  padding: 10px;
}
main {
  background: linear-gradient(
    109.6deg,
    rgb(255, 194, 48) 11.2%,
    rgb(255, 124, 0) 100.2%
  );
  width: 400px;
  /* height: 500px; */
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 2px 2px 7px grey;
  padding: 30px;
}
#emojiContainer {
  margin: 40px;
  text-align: center;
  color: white;
}
h1 {
  text-shadow: 0px 1px 2px black;
}
#emojiContainer span {
  margin: 10px;
  font-size: 60px;
}

#push-btn,
#unshift-btn {
  background-color: #80d87f;
  width: 200px;
}

#shift-btn,
#pop-btn {
  background-color: crimson;
  width: 200px;
}

h1 {
  text-align: center;
  color: white;
}

input {
  margin: 0 auto;
  display: block;
  border: none;
  height: 30px;
  background: white;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 40px;
  box-shadow: 1px 1px 7px grey;
}

button {
  font-family: Baloo;
  letter-spacing: px;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  margin: 0 5px;
  box-shadow: 1px 1px 7px grey;
}
button:hover {
  /* transition: 0.2 ease-in-out; */
  color: wheat;
}
.buttons-wrapper {
  display: flex;
  justify-content: center;
  margin: 10px 0 40px;
}
